<nav>
  <div>
    <a href="/">Home</a>
    <a href="#what-is-claimmycoin">About</a>
    <a href="#how-to">How to?</a>
    <a href="#faqs">FAQs</a>
  </div>
</nav>

<section id="what-is-claimmycoin" name="what-is-claimmycoin">
  <header><h1>What is ClaimMyCo.in?</h1></header>
  <p>
    ClaimMyCo.in is a Dogecoin Wallet <em>Sweeper</em> (not to be confused with
    <em>Importing a Private Key</em>). Created by <a href="http://jes.st"
      title="Jess's home page">Jess Telford</a>, and fully <a
      href="http://github.com/jesstelford/wallet-sweep" title="View the source on GitHub">
      open source</a>, it was born out of the need for a simple way to
    redeem Dogecoin Paper Wallets by scanning the wallet's QR Code.
  </p>
  <p>
    <em>Sweeping</em> simply gathers up all the coins in a Dogecoin Wallet and
    sends them to another Wallet's address. Once completed, the original wallet
    will be empty and can be discarded.
  </p>
</section>

<section id="how-to" name="how-to">
  <header><h1>How to?</h1></header>
  <dl>
    <dt>Find the private QR code</dt>
    <dd>All wallets contain two codes. One is the "public address", and one is
    the "private key" (see <em><a href="#what-are-pub-priv">What are the "Public
        Address" &amp; "Private Keys"?</a></em> below for more). Paper Wallets
    often represent these as a QR code (a black and white series of squares like
    a two-dimensional barcode). Due to its very nature, the "private key" can be
    hidden under a fold in the paper, and must first be unfolded to be
    revealed.</dd>

    <dt>Scan the private QR code</dt>
    <dd>Ensure the "private key" is clearly visible and not damaged or ripped.
    Visit <a href="//claimmyco.in" title="Claim My Coin">claimmyco.in</a>
    and click the "Scan QR Code" button. Now, simply hold the QR code up to your
    webcam so it can be scanned.</dd>

    <dt>Obtain a "To" address</dt>
    <dd>Also known as your wallet's Public Key, the "To" address is easily
    obtained from whichever wallet software you are using. The available wallet
    software is listed on <a href="http://www.dogecoin.com"
      title="Dogecoin's Home Page">www.dogecoin.com</a></dd>
  </dl>
</section>

<section id="faqs" name="faqs">
  <header><h1>Frequently Asked Questions (FAQs)</h1></header>
  <dl>
    <dt>What is Dogecoin?</dt>
    <dd>Dogecoin is a new type of currency. It is a seamless, secure, and
    instant way of transferring value both locally and across the globe without
    the need for a centralized regulation body. For more info, and to get
    started, visit <a href="http://www.dogecoin.com"
      title="Dogecoin's Home Page">www.dogecoin.com</a>.</dd>

    <dt>What is a Paper Wallet?</dt>
    <dd>Just like the wallet/purse in your pocket, Dogecoin requires wallets to
    store the coins you own. Coins cannot exist outside of a wallet. The
    majority of wallets are digital (as listed on <a
      href="http://www.dogecoin.com"
      title="Dogecoin's Home Page">www.dogecoin.com</a>), however it is also
    possible to print these wallets to allow "offline storage", or to share
    Dogecoin to those who do not yet have a digital wallet. It is this act of
    sharing which <a href="http://claimmyco.in"
      title="Claim My Coin">http://claimmyco.in</a> is useful for - to redeem
    a Paper Wallet, and introduce someone to Dogecoin.</dd>

    <dt id="what-are-pub-priv">What are the "Public Address" &amp; "Private Keys"?</dt>
    <dd>All wallets contain two codes. One is the "Public Address", and one
    is the "Private Key". The Public Address can be freely shared with anyone,
    which is necessary to receive funds. The Private Key acts as the password
    for being able to access the coins in that wallet. It should always be kept
    private and not shared with anyone.</dd>
  </dl>
</section>
