<nav>
  <a href="#what-is-claimmycoin">What is ClaimMyCo.in?</a>
  <a href="#how-to">How to?</a>
  <a href="#faqs">Frequently Asked Questions (FAQs)</a>
</nav>

<section id="what-is-claimmycoin" name="what-is-claimmycoin">
  <header><h1>What is ClaimMyCo.in?</h1></header>
  <p>
    ClaimMyCo.in is a Dogecoin Wallet <em>Sweeper</em> (not to be confused with
    <em>Importing a Private Key</em>). Created by <a href="http://jes.st"
      title="Jess's home page">Jess Telford</a>, and fully <a
      href="http://github.com/jesstelford/wallet-sweep" title="View the source on
      GitHub">open source</a>, it was born out of the need for a simple way to
    redeem Dogecoin Paper Wallets by scanning the wallet's QR Code.
  </p>
  <p>
    <em>Sweeping</em> simply gathers up all the coins in a Dogecoin Wallet and
    sends them to another Wallet's address. Once completed, the original wallet
    will be empty and can be discarded.
  </p>
</section>

<section id="how-to" name="how-to">
  <header><h1>How to?</h1></header>
</section>

<section id="faqs" name="faqs">
  <header><h1>Frequently Asked Questions (FAQs)</h1></header>
  <article>
  </article>
</section>
