<header>
  <nav>
    <div>
      <a href="/help#what-is-claimmycoin" title="About">About</a>&nbsp;
      <a href="/help#how-to" title="Help">Help</a>
    </div>
  </nav>
  <h1>Claim My Coin</h1>
</header>

<div id="main">

  <div class="modal qrcode hidden">
    <video autoplay></video>
    <img src="" class="hidden" />
    <div id="not_found_message">Not Found!</div>
    <div id="found_message">Success!</div>
    <div id="loading_image">Loading...</div>
    <button id="cancel_video" class="cancel">Cancel</button>
    <button id="rescan_video" class="continue" disabled>Rescan</button>
    <button id="accept_video" class="continue" disabled>Continue</button>
  </div>

  {{! Used for capturing a video frame }}
  <canvas id="video_capture" class="hidden"></canvas>

  <section id="user_input">
    <form method="post">
      <div id="input_wrapper">
        <div class="input_and_button">
          <input type="text" name="to_address" id="to_address" placeholder="To Address" value="{{to_address}}" />
          <button class="img_camera image" data-which="to_address"></button>
          <input class="upload_qrcode hidden" name="upload_qrcode" type="file" accept="image/*" capture="camera" data-which="to_address" /><br />
        </div>
        <div class="input_and_button">
          <input type="text" name="private_key" id="private_key" placeholder="Private Key" value="{{private_key}}" />
          <button class="img_camera image" data-which="private_key"></button>
          <input class="upload_qrcode hidden" name="upload_qrcode" type="file" accept="image/*" capture="camera" data-which="private_key" /><br />
        </div>
      </div>
    </form>

    <button id="submit" name="submit" type="submit">Sweep</button>

  </section>

  <section id="instructions">
    <h1>Instructions</h1>
    <p>
      <em>Sweeping</em> a wallet (not be confused with <em>Importing a Private
      Key</em>) is the act of transferring all the coins from one wallet (the
      "source") to another (the "destination").
    </p>
    <ol>
      <li>Enter the destination Address (eg; of your personal wallet)</li>
      <li>Enter or scan the QR Code of the Private Key of wallet you want to sweep</li>
    </ol>
  </section>

</div>

<footer>
  <p>
    Donate to support development - <a href="doge://DBKUFm8zxtdeXEDVM2DR6SeMGAwuoke2iV" title="Donate to support development">DBKUFm8zxtdeXEDVM2DR6SeMGAwuoke2iV</a>
  </p>
  <p>
    Created by <a href="http://jes.st">Jess Telford</a>
  </p>
</footer>
