<article class="modal tipdoge-handle">
  <header><h1>@tipdoge Twitter Tip Bot</h1></header>
  <p>Enter your twitter username to retreive your @tipdoge deposit address</p>
  <input type="text" placeholder="@twitter" name="tipdoge_handle" />
  <button>Go</button>
</article>
