/*
 * Colours:
 *   Doge-brown: #F2EDE0
 *   Red-muted: #df5e6a
 *   Red-dark: #aa2230;
 *   Green-muted: #9bc969
 *   Green-dark: #628e33
 *   Light-grey: #aaa
 *   Dark-grey: #555
 *   Almost-black: #222
 *
 * Doge symbol: &ETH; = \0110
 *
 */
#app > header, #app > footer {
	width: 100%;
	text-align: center;
}

#app > header {
	height: 95px;
	background-color: #967adc;
	color: white;
	margin-bottom: 30px;
	position: relative;
}

#app > header:before {
	content: "Claim My Coin";
	color: #c8b2ff;
	font-weight: bold;
}

#app > header:before,
#app > header > nav {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	width: 100%;
}

#app > header nav {
	z-index: 1;
}

#app > header nav div {
	width: 600px;
	margin: 0 auto;
	text-align: right;
}

#app > header nav a {
	color: white;
	font-size: 1.2em;
	margin-left: 1em
}

#app > header nav a:hover {
	text-decoration: underline;
}

#app > footer {
	padding-top: 20px;
	background-color: #F2EDE0;
}

#app > footer p {
	padding-bottom: 20px;
	margin-bottom: 0;
}

#app > header h1,
#app > header:before {
	padding-top: 20px;
	font-size: 5em;
}

#app > header h1 {
	position: relative;
	margin: 0;
	height: 95px;
	overflow: hidden;
}

#user_input {
	text-align: center;
	font-size: 1.2em;
	margin-top: 50px;
}

#user_input .divider_text {
	padding: 30px;
	color: #aaa;
	font-style: italic;
}

#user_input #input_wrapper {
	display: block;
	position: relative;
	margin: 0 auto;
}

input[type=text], button {
	border: 1px solid #ddd;
}

input[type=text],
button,
button:hover,
button:focus,
button:active {
	outline: none;
}

input[type=text]:focus, button:not([disabled]):focus,
input[type=text]:active, button:not([disabled]):active,
.input_and_button input[type=text]:focus ~ button:not([disabled]),
.input_and_button input[type=text]:active ~ button:not([disabled]),
.input_and_button input[type=text] ~ button:not([disabled]):focus ,
.input_and_button input[type=text] ~ button:not([disabled]):active {
	border: 1px solid #aaa;
}

.input_and_button input[type=text] ~ button,
.input_and_button input[type=text]:focus ~ button,
.input_and_button input[type=text]:active ~ button {
	border-left: 0;
}

input[type=text] {
	padding: 8px 10px;
	display: inline-block;
}

button {
	padding: 8px;
	display: inline-block;
	text-align: center;
	background-color: #ddd;
	color: #222;
}

button[disabled],
button[disabled]:hover,
button[disabled]:active,
button[disabled]:focus {
	background-color: #eee;
	border-color: #eee;
	color: #aaa;
	cursor: default;
}

button.cancel:not([disabled]) {
	background-color: #df5e6a;
	border-color: #df5e6a;
	color: white;
}

button.cancel:not([disabled]):focus,
button.cancel:not([disabled]):active {
	border-color: #aa2230;
}

button.continue:not([disabled]) {
	background-color: #9bc969;
	border-color: #9bc969;
	color: white;
}

button.continue:not([disabled]):focus,
button.continue:not([disabled]):active {
	border-color: #628e33;
}

button.image {
	z-index: 1;
	position: relative;
	border: none !important; /* :( because of specificity of .input_and_button input[type=text] ~ button */
	background-color: inherit;
	background-position: 0 0;
}

button.img_camera {
	width: 33px;
	height: 33px;
	margin: 3px 0 4px 0; /* Brings total height up to 40px, same as the input box */
	background-image: url(/img/camera-qr.png);
	background-repeat: no-repeat;
}

button.img_camera:hover,
button.img_camera:focus {
	background-position: 0 -33px;
}

button.img_camera:active {
	background-position: 0 -66px;
}


.input_and_button {
	display: inline-block;
	white-space: nowrap;
	vertical-align: middle;
	width: 100%;
}

.input_and_button input[type=text] {
	vertical-align: top;
	position: relative;
}

#user_input input#to_address,
#user_input input#private_key {
	width: 100%;
	margin-right: -42px;
	padding-right: 52px; /* 10px diff from margin-right as 'padding' */
	z-index: 1;
}

#user_input input#to_address {
	margin-bottom: 10px;
}

#user_input button#submit {
	position: relative;
	width: 100px;
	z-index: 2;
}

.modal.qrcode, .modal.successful-trans, .modal.error-message {
	display: block;
	text-align: center;
	top: -50px;
	width: 400px;
	margin-left: -200px;
}

.qrcode #loading_image,
.qrcode #not_found_message,
.qrcode #found_message,
.qrcode video, .qrcode img {
	margin: 40px 40px 15px 40px;
	width: 320px;
	height: 240px;
	line-height: 240px;
}

.qrcode video, .qrcode img {
	display: block;
	border: 1px solid #aaa;
}

.qrcode button {
	margin-bottom: 20px;
}

.qrcode.not_found button#rescan_video,
.qrcode.scanning button#accept_video,
.qrcode.found button#accept_video {
	display: inline;
}

.qrcode.loading button#rescan_video,
.qrcode.loading button#accept_video,
.qrcode.scanning button#rescan_video,
.qrcode.not_found button#accept_video,
.qrcode.found button#rescan_video {
	display: none;
}

.qrcode #loading_image,
.qrcode #not_found_message,
.qrcode #found_message {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 11;
	background-color: rgba(255,255,255,0.75);
	text-align: center;
	font-size: 2em;
}

.qrcode.loading #loading_image,
.qrcode.not_found #not_found_message,
.qrcode.found #found_message {
	display: block;
}

.qrcode #not_found_message {
	color: #aa2230;
}

.qrcode #loading_image,
.qrcode #found_message {
	color: #628e33;
}

.qrcode #not_found_message:before,
.qrcode #found_message:before {
	display: inline-block;
	border-radius: 50%;
	width: 1.5em;
	height: 1.5em;
	line-height: 1.5em;
	border: 1px solid;
	color: white;
	margin-right: 0.3em;
}

.qrcode #not_found_message:before {
	content: '✘';
	border-color: #aa2230;
	background-color: #df5e6a;
}

.qrcode #found_message:before {
	content: '✔';
	border-color: #628e33;
	background-color: #9bc969;
}

section#user_input, section#instructions {
	margin-bottom: 100px;
	text-align: center;
}

section#instructions ol {
	margin-top: 40px;
}

.successful-trans h1 {
	color: #9bc969;
}

.successful-trans table {
	width: 100%;
	margin-bottom: 20px;
}

.successful-trans th {
	text-align: center;
}

.successful-trans td:first-child {
	width: 60%;
	text-align: right;
}

.successful-trans td:first-child + td {
	text-align: left;
	padding-left: 5%;
}

.successful-trans tfoot {
	font-size: 1.1em;
}

.successful-trans tfoot td {
	padding-top: 10px;
}

.successful-trans tfoot td:first-child + td {
	font-weight: bold;
}

.successful-trans > footer, .error-message > footer {
	font-size: 0.8em;
	font-style: italic;
	padding: 10px 0;
}

.successful-trans .free {
	font-style: italic;
}

.successful-trans > p, .error-message > p {
	margin-left: auto;
	margin-right: auto;
}

.successful-trans > p {
	width: 60%;
	color: #aaa;
	font-size: 0.9em;
	font-style: italic;
}

.error-message > p {
	width: 80%;
}

.error-message h1 {
	color: #aa2230;
}

.doge:after {
	content: '\00a0\0110'; /* [space]Ð */
}
